* {
    margin: 0;
    padding: 0;
    text-align: center;
}


body {
    background-color: #BDE8CA;
}

h1 {
    background-color: #0D7C66;
    color: #ffff;
    line-height: 100px;
    font-size: 3rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 1.5rem;
}

.choice {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.choice :hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
}

.score {
    width: 6rem;
    height: 6rem;
}

.scores p {
    font-size: 25px;
}

#user-score,
#comp-score {
    font-size: 50px;
}

.msg-container {
    margin-top: 2rem;
}

#msg {
    background-color: #D7C3F1;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}

.statsouterclass p {
    font-size: 1rem;
    font-style: italic;
}

.statsinnerclass {
    display: flex;
    margin-top: 0.2rem;
}

.stat {
    margin-right: 0.2rem;
}

.user-score {
    display: flex;
}

.statsouterclass {
    padding-left: 1rem;
}

.user-score {
    margin-right: 1rem;
}

#getjokebtn {
    background-color: black;
    color: whitesmoke;
    font-size: large;
    cursor: pointer;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    line-height: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#getjokebtn:hover {
    transform: scale(1.1);
}

.jokecontent {
    background-color: #4F75FF;
    padding: 1rem;
    border-radius: 2rem;
    width: fit-content;
    display: none;
    margin-top: 1rem;
}

.jokecontent p {
    font-size: 1.5rem;
    text-align: center;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.classjoke {
    display: flex;
    justify-content: center;
    align-items: center;
}